# Ignore everything on scratch by default, except the provided examples
/*
!.gitignore

!nested-subdir/
!subdir/
!scratch-simulator.cc
!wifi-contention-window.cc
!tcp-congestion-standard.cc
!catra/
!catra/**
!CMakeLists.txt
